<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings><puzzle-settings><puzzlepiece-number>10</puzzlepiece-number></puzzle-settings><puzzlearea-settings><background-color>-2311494</background-color><show-puzzle-preview>true</show-puzzle-preview><used-size-of-puzzleare>0.5</used-size-of-puzzleare></puzzlearea-settings></settings>